<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#countrySelector").change(function () {
                var countryId = $("#countrySelector").val();

                $("#citySelctor option").remove();


                $.getJSON("/Home/getTours?id=" + countryId, function (data) {
                    $("#citySelctor").append('<option>-Select Details-</option>');
                    $.each(data, function (i, item) {
                        $("#citySelctor").append('<option value=' + item.Id + '>' + item.name + '</option>');
                        //alert('Id = ' + item.Id + " Name = " + item.Name);
                    });

                });

            });

        });
    </script>

</head>
<body id="page2">
    <!-- content -->
    <section id="content">
        <article class="col1">
            <h3>Hot Travel</h3>
            <div class="pad">
                <div class="wrapper under">
                    <figure class="left marg_right1"><img src="~/images/page1_img1.jpg" alt=""></figure>
                    <p class="pad_bot2"><strong>K2 </strong></p>
                    <p class="pad_bot2">One of the most beautifull place in Pakistan</p>
                    <a href="#" class="marker_1"></a>
                </div>
                <div class="wrapper under">
                    <figure class="left marg_right1"><img src="~/images/page1_img2.jpg" alt=""></figure>
                    <p class="pad_bot2"><strong>Gasherbrum III </strong></p>
                    <p class="pad_bot2">One of the most beautifull place in Pakistan</p>
                    <a href="#" class="marker_1"></a>
                </div>
                <div class="wrapper">
                    <figure class="left marg_right1"><img src="~/images/page1_img3.jpg" alt=""></figure>
                    <p class="pad_bot2"><strong>Nanga Parbat </strong></p>
                    <p class="pad_bot2">One of the most beautifull place in Pakistan</p>
                    <a href="#" class="marker_1"></a>
                </div>
            </div>
        </article>
        <article class="col2 pad_left1">

            <h2 align="center">Admin Panel</h2>
            <div align="center">
                <div>



                    <div>
                        <select id="countrySelector" class="button">
                            <option value="0">-Select Option-</option>
                            <option value="1">Tours</option>
                            <option value="2">Places</option>

                        </select>

                        <div>
                            <select id="citySelctor" class="button">
                                <option>-Select details-</option>


                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <!-- / content -->
</body>
</html>1